#root {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.header {
	background-color: var(--main-bg-color);
	height: 60px;
	width: 100%;
	padding: 0 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid var(--main-border-color);
	flex-shrink: 0;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 15px;
	flex-grow: 1;
	width: 100%;
}

.footer {
	background-color: var(--main-bg-color);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	width: 100%;
	padding: 0 15px;
	border-top: 1px solid var(--main-border-color);
	flex-shrink: 0;
}