.list {
	width: 100%;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
}

.list.compactMode {
	display: flex;
	flex-direction: column;
	gap: 15px;
	max-width: 500px;
	margin: 0 auto;
}

.list.extendedMode {
	display: grid;
	gap: 20px;
	justify-content: center;
	align-items: start;
	list-style: none;
	padding: 0;
	margin: 0 auto;
}

.list.extendedMode>li {
	width: 100%;
	max-width: 500px;
	min-width: 290px;
	margin: 0 auto;
	box-sizing: border-box;
}

.list.extendedMode.oneItem {
	grid-template-columns: repeat(1, minmax(290px, 500px));
}

.list.extendedMode.twoItems {
	grid-template-columns: repeat(2, minmax(290px, 500px));
}

.list.extendedMode.threeOrMore {
	grid-template-columns: repeat(3, minmax(290px, 500px));
}

@media (max-width: 940px) {
	.list.extendedMode.threeOrMore {
		grid-template-columns: repeat(2, minmax(290px, 500px));
	}
}

@media (max-width: 630px) {

	.list.extendedMode.twoItems,
	.list.extendedMode.threeOrMore {
		grid-template-columns: repeat(1, minmax(290px, 500px));
	}
}